<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your file has been uploaded to ads.bendbulletin.com</h1>
		<p>
      View the job at <%= job_url(@job_file.job) %>.
    </p>
    <p>
			<h3>Contact Info</h3>
			&nbsp;&nbsp;<strong>Name: </strong><%= @job_file.job.name %><br/>
			&nbsp;&nbsp;<% if @job_file.job.company %><strong>Company: </strong><%= @job_file.job.company %><br/><% end %>
			&nbsp;&nbsp;<% if @job_file.job.email %><strong>Email: </strong><%= @job_file.job.email %><br/><% end %>
			&nbsp;&nbsp;<% if @job_file.job.phonenum %><strong>Phone: </strong><%= @job_file.job.phonenum %><br/><% end %>
			&nbsp;&nbsp;<% if @job_file.job.phonenum2 and @job_file.job.phonenum2.length>0 %><strong>Phone2: </strong><%= @job_file.job.phonenum2 %><br/><% end %>
    </p>

		<fieldset>
			<h3>Job Info:</h3>
			&nbsp;&nbsp;<strong>Job ID: </strong><%= @job_file.job.id %><br/>
			&nbsp;&nbsp;<strong>Job Type: </strong><%= @upload_type.name %><br/>
			&nbsp;&nbsp;<strong>StartDate: </strong><%= @job_file.job.startdate %><br/>
			&nbsp;&nbsp;<strong>Files Uploaded with Job:</strong><br/>
			<div class="indent">
				<% @job_file.job.job_files.each do |file| %>
					&nbsp;&nbsp;&nbsp;&nbsp;<%= file.file_file_name %><br/>
				<% end %>
			</div>
			&nbsp;&nbsp;<strong>Instructions: </strong><%= @job_file.job.instructions %><br/><br/>
		</fieldset>
		<br/>
		<p>Please do not reply to this email. If you have any questions or concerns about your job, please contact us at <%= @upload_type.email_replyto %>. </p>
  </body>
</html>