<div id="jobs-page">
	<div id="page-content" class="clearfix">
		<h3>
			Job #<%= @job.id %>
			<span class="pull-right">
				<%= mail_to @job.upload_type.email_replyto, "Email Us", :class=>"btn btn-primary", :target => "_blank" %>
			</span>
		</h3>

		<div class="inner-box clearfix">
		  <div id="form-block" class="grid_15">
				<%= form_for @job do |form| %>
					<fieldset>
						<div class="well well-small controls controls-row">
							<div class="span3">
								<h5>Contact Info:</h5>
								Name: <%= @job.name %><br/>
								<% if @job.company.nil? %>Company: <%= @job.company %><br/><% end %>
								<% if @job.salesrep.nil? %>Sales Rep: <%= @job.salesrep %><br/><% end %>
								<% if @job.acct_no.nil? %>Account #: <%= @job.acct_no %><br/><% end %>
							</div>
							<div class="span3">
								<h5>Address:</h5>
								<%= @job.address1 %><br/>
								<% if @job.address2.nil? %><%= @job.address2 %><br/><% end %>
								<%= @job.city %>, <%= @job.state %> <%= @job.zip %><br/>
							</div>
							<div class="span3">
								<h5>Contact Info:</h5>
								Email: <%= @job.email %><br/>
								Phone Numbers: 
								<%= @job.phonenum %>
								<% if @job.phonenum2.nil? %>, <%= @job.phonenum2 %><% end %><br/>
								Fax #: <%= @job.fax %><br/>
							</div>
						</div>

						<h5>Job Info:</h5>
						<div class="well well-small">
							<% if @job.upload_type.get_startdate %>
								StartDate: <%= @job.startdate.strftime('%m/%d/%y') unless @job.startdate.empty? %><br/>
							<% end %>

							<% if @job.upload_type.get_application_used %>
								Application: 
								<% if @job.application.present? %>
									<%= @job.application %>
								<% else %>
									<%= @job.application_other %>
								<% end %>
								<%= @job.application_version %><br/>
							<% end %>
							
							<% if @job.upload_type.get_platform %>
						    Platform: <%= @job.platform %><br/>
							<% end %>

							<% if @job.upload_type.get_image_format %>
								Image Formats Used: <%= @job.image_format %><br/> 
							<% end %>

							<% if @job.upload_type.get_vector_format %>
								Vectored Formats Used: <%= @job.vector_format %><br/>
							<% end %>

							<% if @job.upload_type.get_color_spec %>
								Color Spec: <%= @job.color_spec %></br>
							<% end %>

							<% if @job.upload_type.get_job_type %>
								Job Type:
								<% if @job.job_type %>
						    	Coupon
								<% else %>
						    	Heavy Reverse
								<% end %>	
								<br/>
							<% end %>

							<% if @job.upload_type.get_trapping %>
								Trappings? 
								<% if @job.trapping %>
						    	Yes
								<% else %>
						    	No
								<% end %>	
								<br/>
							<% end %>

							<% if @job.upload_type.get_files_to_run %>
								Files to Run: <%= @job.files_to_run %>
							<% end %><br/>
						</div>

						<h5>Instructions:</h5>
						<div class="well well-small">
							<%= @job.instructions %>
						</div>

						<div class="clearfix">
							<div class="span4">
								<h5>Original Files Uploaded with Job:</h5>
								<i>(click filename to download)</i>
								<div class="well well-small clearfix">
									<% @job.job_files.job_files.each do |file| %>
										<ul class="">
											<li>
												<%= link_to file.file_file_name, job_file_download_path(file) %> - 
												<%= file.file_updated_at.strftime('%m/%d/%y at %I:%M%p') %>
												<% if (current_user.has_role? :edit) or (current_user.has_role? :admin) %>
													<div class="pull-right">
														<%= link_to "X", job_file_path(file), 
																	:method => :delete, 
																	:confirm => "Are you sure you want to delete file?",
																	:action => 'destroy',
																	:class => 'btn btn-mini' %>
													</div>
												<% end %>
												<br/>
											</li>
										</ul>
									<% end %>
									<% if current_user.id == @job.user_id %>
										<%= link_to "Upload Additional File", new_job_file_path(:job_id=>@job, :file_type=>"job_file"),
													:class=>"btn btn-primary btn-mini" %>
									<% end %>
								</div>
								<h5>Worked Files:</h5>
								<i>(click filename to download)</i>
								<div class="well well-small clearfix">
									<% @job.job_files.worked_files.each do |file| %>
										<ul class="">
											<li>
												<%= link_to file.file_file_name, job_file_download_path(file) %> - 
												<%= file.file_updated_at.strftime('%m/%d/%y at %I:%M%p') %>
												<% if (current_user.has_role? :edit) or (current_user.has_role? :admin) %>
													<div class="pull-right">
														<%= link_to "X", job_file_path(file), 
																	:method => :delete, 
																	:confirm => "Are you sure you want to delete file?",
																	:action => 'destroy',
																	:class => 'btn btn-mini' %>
													</div>
												<% end %>
												<br/>
											</li>
										</ul>
									<% end %>
									<% if (current_user.has_role? :edit) or (current_user.has_role? :admin) %>
										<%= link_to "Upload Worked File", new_job_file_path(:job_id=>@job, :file_type=>"worked_file"), 
													:class=>"btn btn-primary btn-mini" %>
									<% end %>
								</div>
							</div>
							<div class="span8">
								<h5>Proof Files:</h5>
								<i>(click proof to download)</i>
								<div class="well well-small clearfix">
									<div class="clearfix">
										<% @job.job_files.proof_files.each do |file| %>
											<ul class="unstyled pull-left">
												<li class="attached_file_box text-center">
													<div id="image_<%= file.id%>" class="file_thumb">
														<div class="file_thumb_image">
															<% if file.file_content_type == 'application/postscript' %>
																<a title="By Everaldo Coelho (YellowIcon) [LGPL (http://www.gnu.org/licenses/lgpl.html)], via Wikimedia Commons" 
																		href="http://commons.wikimedia.org/wiki/File%3AMime_postscript.png">
																	<img class="ps_image" width="256" alt="Mime postscript"
																		src="//upload.wikimedia.org/wikipedia/commons/f/fc/Mime_postscript.png"/>
																</a>
															<% else %>
																<% if file.file_content_type == 'application/zip' %>
																	<a title="By Alexander Rauchfuss [see page for license], via Wikimedia Commons" href="http://commons.wikimedia.org/wiki/File%3ASimple_Comic_zip.png"><img width="512" alt="Simple Comic zip" src="//upload.wikimedia.org/wikipedia/commons/f/fa/Simple_Comic_zip.png"/></a>
																<% else %>
																	<%= link_to image_tag(file.file.url(:thumb), :alt=>"File"), 
																							job_file_download_path(file) %>
																<% end %>
															<% end %>
															<% if (current_user.has_role? :edit) or (current_user.has_role? :admin) %>
																<div class="file_thumb_delete_icon">
																	<%= link_to "X", job_file_path(file), 
																				:method => :delete, 
																				:confirm => "Are you sure you want to delete file?",
																				:action => 'destroy',
																				:class => 'btn btn-mini' %>
																</div>
															<% end %>
														</div>
													</div>
													<%= file.file_file_name %>
													<% if file.approved %>
														<br/><i class="icon-check"></i>
														<%= file.approved_at.strftime('%m/%d/%y at %I:%M%p') unless file.approved_at.nil? %>
													<% else %>
														<% if file.rejected %>
															<br/><i class="icon-remove"></i>
															<%= file.rejected_at.strftime('%m/%d/%y at %I:%M%p') unless file.rejected_at.nil? %>
														<% else %>
															</br><%= link_to "Approve Proof?", job_file_approve_path(:job_file_id=>file.id, :approve => true), 
																		:method => :post, 
																		:confirm => "Are you sure you want to approve this proof?",
																		:class=>"btn btn-primary btn-mini approve_btn" %>
															</br><%= link_to "Reject Proof?", job_file_reject_path(:job_file_id=>file.id, :reject => true), 
																		:method => :post, 
																		:confirm => "Are you sure you want to reject this proof?",
																		:class=>"btn btn-primary btn-mini reject_btn" %>
														<% end %>
													<% end %>
												</li>
											</ul>
										<% end %>
									</div>
									<% if (current_user.has_role? :edit) or (current_user.has_role? :admin) %>
										<br/><%= link_to "Upload Proof", new_job_file_path(:job_id=>@job.id, :file_type=>"proof_file"), 
													:class=>"btn btn-primary btn-mini" %>
									<% end %>
									<% if @job.job_files.present? %>
										<div class="pull-right">
											<div class="checkbox"><i class="icon-check"></i> = Approved Proof </div>
											<div class="checkbox"><i class="icon-remove"></i> = Rejected Proof </div>
										</div>
									<% end %>
								</div>
							</div>
						</div>

					</fieldset>
				<% end %>
		</div>
	</div>
</div>
