<% if params[:file_type] == "job_file" %>
	<h1>Upload New File to Job #<%= @job.id %></h1>

<% else %>
	<% if params[:file_type] == "worked_file" %>
		<h1>Upload New Worked File to Job #<%= @job.id %></h1>

	<% else %>
		<% if params[:file_type] == "proof_file" %>
			<h1>Upload New Proof to Job #<%= @job.id %></h1>

		<% else %>

		<% end %>
	<% end %>
<% end %>

<% if params[:file_type] == "job_file" %>
	<%= form_for @job_file, :html => { :multipart => true } do |f| %>
		<%= f.hidden_field :job_id, :value => params[:job_id] %>
		<%= f.hidden_field :file_type, :value => params[:file_type] %>

		<div class="well well-small clearfix">
		  <div class="control-group">
		    <div class="controls">
			    <%= f.file_field :file %>
		    </div>
		  </div>
		</div>
		<div>
			<%= f.submit "Upload", :class => 'submit small progress_bar'%>
			<%= f.submit "Cancel", :name => 'cancel_button', :class => 'submit small'%>
		</div>
		<div id="ProgressModal" class="modal hide fade">
			<div class="modal-header text-center">
				<div class="modal-header text-center">
					<h3>Uploading Files</h3><img class="spinner" src="/assets/Spinner.gif">
				</div>
				<div class="modal-body text-center">
					Please be patient while we upload your files. Thank you.
				</div>
			</div>
		</div>
	<% end %>
<% else %>
	<%= form_for JobFile.new, :url => job_files_path, html: { multipart: true } do |f| %>
		<%= f.hidden_field :job_id, :value => params[:job_id] %>
		<%= f.hidden_field :file_type, :value => params[:file_type] %>

		<div id="dropzone" class="well well-small clearfix">
			<br/>
			<h4 class="text-center">Drop Files to Upload</h4>
		  <div>
		    <div id="new_job_file" class="text-center">
	<!--				<%= f.file_field :file, multiple: true, name: 'job_file[file]' %> -->
					<span class="btn btn-default btn-file">
						Browse for Files <input type="file" id="upload_file" multiple="true" name='job_file[file]'>
					</span>
				</div>
		  </div>
		</div>
		<div class="well well-small clearfix">
			<h4>Files Uploaded:</h4>
			<br/>
			<div><ul id="upload" class="span12 list-inline pull-left"></ul></div>
		</div>
	<% end %>
	<%= link_to "Done", job_path(@job), :class=>"btn btn-primary progress_bar" %>
	<span class="text-muted indent"><i><small>Do not click done until all files have completed loading</small></i></span>
<% end %>

<div id="ProgressModal" class="modal fade">
	<div class="modal-header text-center">
		<div class="modal-header text-center">
			<h3>Uploading Files</h3><img class="spinner" src="/assets/Spinner.gif">
		</div>
		<div class="modal-body text-center">
			Please be patient while we upload your files. Thank you.
		</div>
		<div class="modal-body text-center">
			You will be sent a confirmation email upon successful upload
		</div>
	</div>
</div>
